<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:9999/Library" binding="basicHttpBinding"
          bindingConfiguration="" contract="LibraryContracts.Contracts.ILogin"
          name="Login" kind="" endpointConfiguration="" />

      <endpoint address="http://localhost:9999/Library" binding="basicHttpBinding"
               bindingConfiguration="" contract="LibraryContracts.Contracts.IUser"
               name="User" kind="" endpointConfiguration="" />

      <endpoint address="http://localhost:9999/Library" binding="basicHttpBinding"
              bindingConfiguration="" contract="LibraryContracts.Contracts.IAdmin"
              name="Admin" kind="" endpointConfiguration="" />

      <endpoint address="http://localhost:9999/Library" binding="basicHttpBinding"
              bindingConfiguration="" contract="LibraryContracts.Contracts.IUserAdmin"
              name="UserAdmin" kind="" endpointConfiguration="" />

    </client>

  </system.serviceModel>
  
</configuration>